body {
  padding: 0;
  margin: 0;
}
.columns {
  width: 33%;
  float: left;
  background-color: skyblue;
  border: 3px solid green;
  margin: 5px;

}
img {
  width: 100%;
}

h1 {
  text-align: center;
}

p {
  width: 280px;
  display: inline;
}

body h2 {
  font-style: italic;

}

@media screen and (min-width: 768px) {
  .columns {
    background-color: skyblue;
    float: left;
    width: 600px;
    border: 3px solid green;
    margin: 5px;
    text-align: center;
  }
}
/*
@media screen and (max-width: 768px) and (min-width: 550px) {
  .columns {
    background-color: skyblue;
    float: left;
    width: 300px;
    border: 3px solid green;
    margin: 5px;
    text-align: center;
   }
  }
  */

  @media screen and (max-width: 580px) {
    .columns {
      background-color: red;
      float: left;
      width: 500px;
      border: 3px solid green;
      margin: 5px;
      text-align: center;
    }
  }
