body {
  padding: 0;
  margin: 0;
  background-color: #F7EAFD;
}
.header {
  color: #DE1F53;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #EBF7E2;
  text-shadow: 1px 1px #000;
}
.blocks-wrapper {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block {
  border-radius: 5px;
  text-align: center;
  width: 30%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px #888888;
}

.block p {
  font-size: 18px;
  margin: 0 5px;
}

.block img {
  width: 100%;
}
.block a {
  text-decoration: none;
}
.block a:hover {
  color: red;
}

@media only screen and (max-width: 425px) {
  .block {
    width: 60%;
    margin: 20px 0;
  }
  .header {
    color: #00e600;
    font-size: 15px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .block {
    width: 80%;
    margin: 20px 0;
  }
  .header {
    color: #DB1FDE;
    font-size: 15px;
  }
}
